.half_div{
    height: 50% !important;
    // background-color: black;
    .partition{
        height: 100%;
        width: 50%;
    }
}

.user_div{
    //height: 35% !important;
    margin-top: 15%;
    z-index: 100 !important;

    .user_header{
        height: 25%;
        width: 100%;
        padding: 0 auto;
    }

    .user_image{
        margin-top: -15%;
    }

    .user_header_div{
        height: 25%;
        width: 100%;
    }

    .spacer{
        height: 10% !important;
    }
}

.hidden{
    display: none;
}

#map {
    height: 100%;
    width: 100%;
  }




// .test_div{
//     height: 35% !important;
//     z-index: 100 !important;
// }