.half_div{
    height: 50% !important;
}

.inner{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%)
}

.user_div{

    .user_image{
        margin-top: -15%;
    }

    .spacer{
        height: 10% !important;
    }
}